

/* ------- */
/* General */
/* ------- */


body {
	line-height: 1.2;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;

}
p {
	font-size:1em;
	margin-left:10px;
	margin-top:0px;
	margin-bottom:0px;
}
h1 {
	font-weight: 100;
	font-size: 6em;
	margin-top: 20px;
	margin-bottom: 20px;
	color:#fff;
	line-height: .9em;
}
h2 {
	font-size: 6em;
	margin-bottom: 0px;
}
h3 {
	font-size: 1em;
	margin-bottom: 0px;
	margin-top:0px;
}

.wrapper {
	max-width: 650%;
	margin: auto;

}
.wrapper-nested {
	margin: 20px;
	padding: 20px;
}
.wrapper-signin {
	margin-top:80px;
	padding:0px;
	diplay: inline-block;
}
.wrapper-list {
	margin-bottom:10px;
	display:inline-block;
	border-top: 1px solid #2F3340;
	max-width: 650%;
}

img {
	max-width: 100%;
	margin: 0 5px 0 5px;
}

.placeholder {
	background-color: none;
}
.type {
	text-align:center;
}


/* ---------- */
/* Typography */
/* ---------- */





/* ------ */
/* Header */
/* ------ */




/* --- */
/* Nav */
/* --- */

a {
	text-decoration:none;
	color:white;
}
ul a:hover {
	color: #002A4A;
	
}
ul {
	list-style-type: none;
	padding-left: 0;
}
nav ul li {
	text-align:right;
	font-size:4em;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	margin: 0 0 0 0;
	padding:0px;
}
.nav-right ul li{
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size: 1em;
	display: inline-block;
	line-height:.8em;
	padding: 20px;
}
.navbackground-red {
	background-color:#CD4D07;
    -webkit-box-shadow: 0px -6px 8px rgba(50, 50, 50, 0.50);
    -moz-box-shadow:    0px -6px 8px rgba(50, 50, 50, 0.50);
    box-shadow:         0px -6px 8px rgba(50, 50, 50, 0.50);
}
.navbackground-grn {
	background-color:#A7C520;
    -webkit-box-shadow: 0px -6px 8px rgba(50, 50, 50, 0.50);
    -moz-box-shadow:    0px -6px 8px rgba(50, 50, 50, 0.50);
    box-shadow:         0px -6px 8px rgba(50, 50, 50, 0.50);
}
.navbackground-blu {
	background-color:#0A5C9C;
    -webkit-box-shadow: 0px -6px 8px rgba(50, 50, 50, 0.50);
    -moz-box-shadow:    0px -6px 8px rgba(50, 50, 50, 0.50);
    box-shadow:         0px -6px 8px rgba(50, 50, 50, 0.50);
}
.navbackground-yellow {
	background-color:#FDDE26;
}
button {
	background-color: #2F3340;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	color:#fff;
	font-size: .8rem;
}


/* ------- */
/* Content */
/* ------- */

input[type="text"] {
	
	text-decoration:none;
	background:#FFF1CE;
	color:#FDDE26;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	font-size: 2em;
	line-height:1em;
	text-align: right; 
	border:0px;
	margin-top:20px;
	width:300px;
}

input[type="submit"] {
	
	text-decoration:none;
	background:none;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	font-size: 2em;
	line-height:1em;
	border:0px;
	margin-bottom:40px;
	text-align: right;
	width: 300px;
}
hr { 
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #ccc, #fff, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #fff, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #fff, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #fff, #ccc);
}

/* ------ */
/* Footer */
/* ------ */



/* ------- */
/* Utility */
/* ------- */

@media (min-width: 600px) {
	.wrapper {
    max-width: 650px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}