
@charset "utf-8";
* {margin:0; padding:0}
html, body {
	height: 100%;
}


	/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
  clear:left;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
	/*@media (min-width: 1200px) {
	  .container {
	    width: 1170px;
	  }
}*/

h4{
	padding-top: 150px;
	letter-spacing: .1rem;
	margin-bottom: 10px;
}
h5{
	font-weight: 200;
	letter-spacing: .1rem;
}
ul li {
	text-transform: uppercase;
}
img {
	margin:0px;
}
/** Links */

ul li .active {
  color: #77C4D3;
  font-weight: 800;
}

a,
a:focus,
a:hover {
  color: #d62323;
}

input {
  background-color: #fff;
  border:1px dotted #77C4D3;
  margin-bottom: 6px;
  margin-top: -5px;
  width:200px;
  height: 20px;
}
textarea {
  background-color: #fff;
  border:1px dotted #77C4D3;
  width:200px;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  color: #888;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: .8rem;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 4px;
  height: 30px;
  background-color:#046380;
  color:#fff;
}
.btn:hover {
	background-color: #193441;
}
.inception-heart {
    height: 13.625em;
    width: 16.25em;
    margin: 1.5em
}

/* STRUCTURE
------------------------------------------ */
body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:12px;
text-align:left;
color:#333;
line-height:18px;
width:100%;
overflow-y:scroll;
}


header {
	width:100%; 
	background-color:#FFF; 
	z-index:1000;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #fff;
}

.menu {
	margin: 10px;
	list-style:none; 
	float:left; 
	margin:40px 0px 0 40px; 
	border-right:1px solid #CCC; 
	padding-right:17px; 
	height:27px; 
	line-height:27px;
}

.menu li, .submenu li{
	display:inline;
	padding-right: 20px;
}
.menu li h1{
	color:#000; 
	margin-right:17px; 
	font-size:12px; 
	font-weight:normal; 
	display:inline;
}
.menu a, .submenu a{
	color:#737373; 
	margin-right:17px; 
	text-decoration:none;
}
.menu a:hover, .menu a.selected{
	color:#000;
}

.logo-wrapper{
	width:168px; 
	float:left; 
	border-right:1px solid #CCC; 
	height:71px;
}
.logo{
	margin:44px 0 0 -1px; 
	display:block; 
	width:140px; 
	height:18px;
}


/*.project:hover{opacity:0.3}*/
.project-thumb{
	background-color:#EEE; 
	float:left;
	margin-bottom: 20px;
	margin-right: 20px;
	border:1px solid #E1E1E1; 
	width:218px; 
	height:218px;
}

/*COLUMNS AND ROWS*/
.row {
  /*margin-right: -15px;*/
 /* margin-left: -15px;*/

}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 60px;
  /*padding-left: 40px;*/
  /*margin-bottom: 40px;*/
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}

/* FOOTER
------------------------------------------ */
footer {
	clear:left;
	padding-top: 100px;
}


.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
