

/* ------- */
/* General */
/* ------- */


body {
	line-height: 1.2;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;

}
p {
	font-size:.8rem;
	margin-left:10px;
	margin-top:0px;
	margin-bottom:0px;
	color:#2F3340;
	line-height: 1.2em;
}
h1 {
	font-weight: 100;
	font-size: 4rem;
	margin-top: 20px;
	margin-bottom: 20px;
	color:#2F3340;
	line-height: .9em;
}
h2 {
	font-size: 3rem;
	margin-bottom: 0px;
	color:#2F3340;
}
h3 {
	font-size: 1rem;
	margin-bottom: 0px;
	margin:5 0 0 10;
	color:#2F3340;
}
h5 {
	color:#fff;
	padding:10px;
	font-size: .6rem;
	font-weight: 100;
	text-align: right;
	color:#2F3340;
}
section {
	max-width: 650%;
}

.wrapper {
	max-width: 650px;
	margin: auto;

}
.wrapper-nested {
	margin: 0px;
	padding: 5px;
	max-width: 650px;

}
.wrapper-signin {
	margin-top:40px;
	padding:0px;
	max-width: 650px;
}
.wrapper-list {
	margin-bottom:10px;
	display:inline-block;
	border-top: 1px solid #2F3340;
	max-width: 650px;
}

img {
	max-width: 100%;
	margin: 0 5px 0 5px;
}

.placeholder {
	background-color: none;
}
}
.menu-item {

}


/* ---------- */
/* Typography */
/* ---------- */





/* ------ */
/* Header */
/* ------ */




/* --- */
/* Nav */
/* --- */

a {
	text-decoration:none;
	color:white;
}
ul a:hover {
	color: #D9C8B4;
	
}
ul {
	list-style-type: none;
	padding-left: 0;
}
nav ul li {
	text-align:right;
	font-size:2rem;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	margin: 0 0 0 0;
	padding:0px;
}
.nav-right ul li{
	font-family: 'Open Sans', sans-serif;
	font-weight:200;
	font-size: 1rem;
	display: inline-block;
	line-height:.8em;
	padding: 15px 15px 15px 0;
}
.navbackground-red {
	background-color:#CD4D07;
    -webkit-box-shadow: 0px -6px 8px rgba(50, 50, 50, 0.50);
    -moz-box-shadow:    0px -6px 8px rgba(50, 50, 50, 0.50);
    box-shadow:         0px -6px 8px rgba(50, 50, 50, 0.50);
}
.navbackground-grn {
	background-color:#A7C520;
    -webkit-box-shadow: 0px -6px 8px rgba(50, 50, 50, 0.50);
    -moz-box-shadow:    0px -6px 8px rgba(50, 50, 50, 0.50);
    box-shadow:         0px -6px 8px rgba(50, 50, 50, 0.50);
}
.navbackground-blu {
	background-color:#2F3340;
}
.navbackground-yellow {
	background-color:#FDDE26;
}

button {
	background-color: #736D68;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:#fff;
}


/* ------- */
/* Content */
/* ------- */

input[type="text"] {
	
	text-decoration:none;
	background:#D9C8B4;
	color:#736D68;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size: 1rem;
	text-align: center; 
	border:0px;
	margin-top:20px;
	width:150px;
	padding:10px;
}

input[type="submit"] {
	
	text-decoration:none;
	background:#2F3340;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size: 1rem;
	border:0px;
	width:345px;
	padding:10px;
	margin-bottom:40px;
	margin-top: 10px;
}

/* ------ */
/* Footer */
/* ------ */
footer {
	max-width: 650%;
	margin: auto;
}

/* ------- */
/* Utility */
/* ------- */

@media (min-width: 600px) {
	.wrapper {
    max-width: 650px;
}
footer{
    max-width: 650px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}